.features {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4rem 0;
  position: relative;
  background: var(--ifm-color-emphasis-0);
}

.featureSvg {
  height: 200px;
  width: 200px;
}